.grid-container {
  margin: 20px;
}

.d-flex {
  display: flex;
}

.mr-5 {
  margin-right: 50px;
}

.ml-5 {
  margin-left: 50px
}


.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
