.grid-container {
  margin: 20px;
}
.supplier-table {
  width:100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
}

.mat-column-icon {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-avgDelivery {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-supply {
  padding-left: 16px;
  font-size: 16px;
}

.supplier-row {
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.supplier-row:hover {
  background: #f5f5f5;
}

.dashboard-card-content {
  text-align: center;
}

tr.supplier-detail-row {
  height: 0;
  background: #f5f5f5;
}


.supplier-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.supplier-card {
  margin: 15px;
}