<app-login *ngIf="!loggedIn"></app-login>
<mat-sidenav-container *ngIf="loggedIn" class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{ item | titlecase }} </a>
    </mat-nav-list>
    <mat-nav-list class="logout-button">
      <a mat-list-item (click)="onLogOut()">Logout</a>
    </mat-nav-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="light">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/logo.png" style="width:60px; height:60px"> <span>SwiftSight</span>

    </mat-toolbar>
    <div style="background-color: #145da0;">
      <span style="padding-right: 16px"></span>
      <!-- <span class="mat-h1" style="background-color: white; color:black; font-family: Roboto, 'Helvetica Neue', sans-serif;"></span> -->
    </div>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
