<div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 supplier-table" multiTemplateDataRows #supplyTable>

            <ng-container matColumnDef="{{def.key}}" *ngFor="let def of tableDef" mat-sort-header>
                <th mat-header-cell *matHeaderCellDef>
                    <div *ngIf="def.key != 'icon'">
                        {{def.header}}
                    </div>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element[def.key]}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="supplier-row"
                [class.example-expanded-row]="expandedElement === element" (click)="expandRow(element)">
            </tr>
            
        </table>
        <mat-paginator [pageSizeOptions]="[5]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements" #paginator>
            </mat-paginator>
</div>
